#wrapper {
    display: flex;
  }
  
  #page-content-wrapper {
    width: 100%;
    padding: 15px;
    margin-top: 88px;
  }
  
  #sidebar-wrapper {
    min-width: 250px;
  }
  
  .navbar {
    margin-bottom: 20px;
    background-color: brown;
  }
  